 
body {

   & .wrapper {

       & main {


         & .catalogue_head {
            margin: 18px auto 26px;

            & .catalogue_head_name {
               color: #333333;
               font-size: 22px;
               font-weight: 400;
               line-height: 30px;
            }

            & .catalogue_head_choice {

               & .catalogue_dd_btn.btn.btn-outline-secondary {
                  color: #333333;
                  font-size: 12px;
                  font-weight: 400;
                  line-height: 16px;
                  width: 100%;
                  height: 100%;
                  text-align: start;
                  display: flex;
                  align-content: center;
                  justify-content: space-between;

    
                  &:hover {
                     background-color: #FFFFFF;
                  }

                  &:active {
                     background-color: #FFFFFF;
                  }

                  &::after {
                     content: none;
                  }
               }
               & .catalogue_dd_btn.btn.btn-outline-secondary.dropdown-toggle.show {
                  background-color: #FFFFFF;
               }


               & .dropdown-menu {

                  & .dropdown_item.dropdown-item {
                     color: #333333;
                     font-size: 12px;
                     font-weight: 400;
                     line-height: 16px;
                     padding: 3.5px 10.5px;

                     &:hover {
                        background-color: #FFFFFF;
                        color: $primary;
                     }

                     &:active {
                        background-color: #FFFFFF;
                        color: $primary;
                     }
                  }
               }
               
               & .catalogue_head_number {
                  margin-right: 10px;
                  width: 138px;
                  height: 30px;
               }

               & .catalogue_head_abc {
                  width: 150px;
                  height: 30px;
               }
            }
         }



         & .catalogue_body {

            & .catalogue_body_left {

               & .left_list_catalogue {
                  // max-height: 748px;
                  // min-width: 285px;
                  overflow: auto;
                  // direction: rtl;
                  // text-align: start!important;

                  // display: none;

                  & .items_main_head {
                      margin-bottom: 5px;

                      & .list_main_head {
                          color: #FFFFFF;
                          font-size: 19px;
                          font-weight: 400;
                          background-color: $secondary;
                          user-select: none;
                          border-radius: 2px;
                      }
                  }

                  & .items_group_head {
                      margin: 3px 0;

                      & .head_list_item {
                          color: $secondary;
                          font-size: 16px;
                          font-weight: 400;
                          background-color: #F4F4F4;
                          border-radius: 2px;

                          &:hover {
                              color: #FFFFFF;
                              background-color: $secondary;
                          }

                          &:active {
                              color: #FFFFFF;
                              background-color: $secondary;
                          }

                          &:hover svg {
                              fill: #FFFFFF;
                          }
                              
                          &:active svg {
                              fill: #FFFFFF;
                          }
                      }
                  }

                  & .items_group_body {

                      & .body_list_item {
                          color: #333333;
                          font-size: 14px;
                          font-weight: 400;
                          line-height: 19px;
                          border-radius: 2px;
                      }
                  }
              }


               & .filter_block_general {

                  & .filter_block {
                     margin-top: 6px;
         
                     & .filter_block_name{
                        color: #333333;
                        font-size: 14px;
                        font-weight: 600;
                        margin: 0  0 10px 0;
                     }
         
                     & .filter_element_pack {
                        margin-bottom: 10px;
         
                        & .form-check {
                              margin-bottom: 6px;

                              & .form-check-input {
                                 border-color: $primary;
                              }
         
                              & .filter_element_name1 {
                                 color: #333333;
                                 font-size: 14px;
                                 font-weight: 400;
                  
                              }
                  
                              & .filter_element_name2 {
                                 color: #333333;
                                 font-size: 14px;
                                 font-weight: 400;
                                 
                              }
                        }     
                     }       
                  }
               }
       
            }

            & .catalogue_body_right {
               

               & .body_main_item_list {


                  & .body_item_row.row {

                     & .obertka_catalogue {
                        
                        & .carta {
                            width: 240px;
                            height: 376px;
                            border: 1px solid #4444444D;
                            margin: 0 0 12px auto;
                
                            & .cartina {
                                height: 180px;
                            }
                
                            & .card-title {
                                color: #333333;
                                font-size: 11px;
                                font-weight: 300;
                            }
                
                            & .card-text_a {
                                text-decoration: none;

                                & .card-text {
                                    color: #333333;
                                    font-size: 14px;
                                    font-weight: 400;
                                    height: 40px;
                                    margin-bottom: 5px;
                                }
                            }
                            
                
                            & .presence {
                                color: #068603;
                                font-size: 12px;
                                font-weight: 400;
                                margin-bottom: 3px;
                            }
                
                            & .price {
                                color: #333333;
                                font-size: 20px;
                                font-weight: 400;
                                margin-bottom: 13px;
                            }
                
                            & .buy_btn {
                                display: flex;
                                font-size: 14px;
                                font-weight: 400;
                                color:#FFFFFF;
                                padding: 3.25px 5px 3.25px 5px;

                                & div {
                                    margin-left: 9px;
                                }
                            }
                
                            & .btn-outline-primary {
                                font-size: 13px;
                                font-weight: 400;
                                padding: 4.25px 5px 4.25px 5px;
                
                                &:hover {
                                    color:#FFFFFF;
                                }
                            }

                        }

                    }

                  }

               }


               & .body_page_nav {
                  margin: 30px auto 0;
                  width: max-content;

                  & .pagination_last_pages{
                     display: none;
                  }
                  & .pagination_first_pages{
                     display: none;
                  }
                  & .pagination_rest_pages{
                     display: block;
                  }

                  & .pagination {
                  
                     & .page-item {

                        & .page_link_manage.page-link {
                           height: 30px;
                           width: 30px;
                           padding: 0;
                           margin: 0;
                           border: 1px solid #FFFFFF;   
                           display: flex;
                           justify-content: center; 

                           & svg {
                              align-self: center;
                           }
                           
                           &:focus {
                            box-shadow: none;
                           }
                        }
                  
                        & .page_link_basic.page-link {
                           color: #555555;
                           font-weight: 400;
                           text-align: center;
                           height: 30px;
                           width: 30px;
                           padding: 3.5px 6px;
                           margin: 0;
                           border: 1px solid #FFFFFF;                           
                           
                          &:focus {
                           box-shadow: none;
                          }
                        }

                        & .page_link_active.page_link_basic.page-link {
                           border: 1px solid #555555;
                           border-radius: 2px;
                        }
                     }
                  }
               }





            }
         }







         & .catalogue_page_slider {
            
            & .catalogue_slider_head {
               color: #333333;
               font-size: 22px;
               font-weight: 400;
               line-height: 30px;
               margin: 30px 0;
            }


            & .slider.items_mini {
               position: relative;
               padding: 0 40px;
               margin-bottom: 60px;

               &  .slick-arrow.slick-prev {
                   position: absolute;
                   left: 0;
                   font-size: 0;
                   background: url(/assets/images/pointer1.svg) center center no-repeat;
                   height: 80px;
                   width: 30px;
                   border: 1px solid #4444444D;
                   top: 50%;
                   margin-top: -40px;
               }

               &  .slick-arrow.slick-next {
                   position: absolute;
                   right: 0;
                   font-size: 0;
                   background: url(/assets/images/pointer2.svg) center center no-repeat;
                   height: 80px;
                   width: 30px;
                   border: 1px solid #4444444D;
                   top: 50%;
                   margin-top: -40px;
               }

               & .slick-list {
                  overflow: hidden;

                  & .slick-track {
                      display: flex;

                      & .obertka_mini {
                         
                        & .card_mini {
                           width: 200px;
                           height: 320px;
                           border: 1px solid #4444444D;
                           margin: 0 auto;
               
                           & .cartina_mini {
                               height: 150px;
                               width: 170px;
                               margin: 15px auto 0;
                           }
                           
                           & .card-body_mini {
                              height: 155px;
                              margin: 0 15px;

                              & .card-title_mini {
                                 color: #333333;
                                 font-size: 11px;
                                 font-weight: 300;
                                 line-height: 15px;
                                 margin: 6px 0;
                             }
                 
                             & .card-text_a_mini {
                                 text-decoration: none;
  
                                 & .card-text_mini {
                                     color: #333333;
                                     font-size: 14px;
                                     font-weight: 400;
                                     line-height: 19px;
                                     height: 60px;
                                     margin-bottom: 6px;
                                 }
                             }
                             
                 
                             & .presence_mini {
                                 color: #068603;
                                 font-size: 12px;
                                 font-weight: 400;
                                 line-height: 16px;
                                 margin-bottom: 6px;
                             }
                 
                             & .price_mini {
                                 color: #333333;
                                 font-size: 20px;
                                 font-weight: 400;
                                 line-height: 27px;
                             }
                 
                             & .buy_btn_mini {
                              cursor: pointer;
                             }
                 


                           }

                        }
                      }
                  }
               }
            }
         }




       }
   }
}