body {
  & .wrapper {
    & main {
      & .catalogue_head {
        margin: 18px auto 26px;

        @include media-breakpoint-down(md) {
          margin: 10px auto 15px;
        }

        & .catalogue_head_name {
          color: #333333;
          font-size: 22px;
          font-weight: 400;
          line-height: 30px;

          @include media-breakpoint-down(md) {
            display: none;
          }
        }

        & .catalogue_head_choice {
          & .catalogue_dd_btn.btn.btn-outline-secondary {
            color: #333333;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            width: 100%;
            height: 100%;
            text-align: start;
            display: flex;
            align-content: center;
            justify-content: space-between;
            border: 1px solid #33333333;

            @include media-breakpoint-down(md) {
              font-size: 10px;
              line-height: 14px;
              padding: 0.375rem 7px;
            }

            &:hover {
              background-color: #ffffff;
            }

            &:active {
              background-color: #ffffff;
            }

            &::after {
              content: none;
            }
          }
          & .catalogue_dd_btn.btn.btn-outline-secondary.dropdown-toggle.show {
            background-color: #ffffff;
          }

          & .dropdown-menu {
            & .dropdown_item.dropdown-item {
              color: #333333;
              font-size: 12px;
              font-weight: 400;
              line-height: 16px;
              padding: 3.5px 10.5px;

              @include media-breakpoint-down(md) {
                font-size: 10px;
                line-height: 14px;
              }

              &:hover {
                background-color: #ffffff;
                color: $primary;
              }

              &:active {
                background-color: #ffffff;
                color: $primary;
              }
            }
          }

          & .catalogue_head_number {
            margin-right: 10px;
            width: 138px;
            height: 30px;

            @include media-breakpoint-down(md) {
              width: 108px;
            }
          }

          & .catalogue_head_abc {
            width: 150px;
            height: 30px;

            @include media-breakpoint-down(md) {
              width: 108px;
            }
          }
        }
      }

      & .catalogue_body {
        & .catalogue_body_left {
          @include media-breakpoint-down(md) {
            display: none;
          }

          & .left_list_catalogue {
            overflow: auto;

            & .items_main_head {
              margin-bottom: 5px;

              & .list_main_head {
                color: #ffffff;
                font-size: 19px;
                font-weight: 400;
                background-color: $secondary;
                user-select: none;
                border-radius: 2px;
              }
            }

            & .items_group_head {
              margin: 3px 0;

              & .head_list_item {
                color: $secondary;
                font-size: 16px;
                font-weight: 400;
                background-color: #f4f4f4;
                border-radius: 2px;

                &:hover {
                  color: #ffffff;
                  background-color: $secondary;
                }

                &:active {
                  color: #ffffff;
                  background-color: $secondary;
                }

                &:hover svg {
                  fill: #ffffff;
                }

                &:active svg {
                  fill: #ffffff;
                }
              }
            }

            & .items_group_body {
              & .body_list_item {
                color: #333333;
                font-size: 14px;
                font-weight: 400;
                line-height: 19px;
                border-radius: 2px;
              }
            }
          }

          & .filter_block_general {
            & .filter_block {
              margin-top: 6px;

              & .filter_block_name {
                color: #333333;
                font-size: 14px;
                font-weight: 600;
                margin: 0 0 10px 0;
              }

              & .filter_element_pack {
                margin-bottom: 10px;

                & .form-check {
                  margin-bottom: 6px;

                  & .form-check-input {
                    border-color: $primary;
                  }

                  & .filter_element_name1 {
                    color: #333333;
                    font-size: 14px;
                    font-weight: 400;
                  }

                  & .filter_element_name2 {
                    color: #333333;
                    font-size: 14px;
                    font-weight: 400;
                  }
                }
              }
            }
          }
        }

        & .catalogue_body_right {
          & .body_main_item_list {
            & .body_item_row.row {
              --bs-gutter-x: 0;
              --bs-gutter-y: 0;

              @include media-breakpoint-down(md) {
                margin: 0 -5px;
              }

              & .obertka_catalogue {
                padding-left: 10px;

                @include media-breakpoint-down(md) {
                  padding-left: 5px;
                  padding-right: 5px;
                }

                & .carta {
                  max-width: 240px;
                  width: 100%;
                  height: 376px;
                  border: 1px solid #4444444d;
                  margin: 0 0 12px auto;

                  @include media-breakpoint-down(md) {
                    max-width: 155px;
                    width: 100%;
                    height: 260px;
                    margin: 0 auto 12px auto;
                  }

                  & .cartina {
                    height: 180px;
                    margin: 10px auto 0;

                    @include media-breakpoint-down(md) {
                      height: 115px;
                    }
                  }

                  & .card_body.card-body {
                    padding: 6px 15px 12px;

                    @include media-breakpoint-down(md) {
                      padding: 6px 10px 10px;
                    }

                    & .card_title.card-title {
                      color: #333333;
                      font-size: 11px;
                      font-weight: 300;
                      line-height: 15px;
                      margin-bottom: 7px;

                      @include media-breakpoint-down(md) {
                        display: none;
                      }
                    }

                    & .card-text_a {
                      text-decoration: none;

                      & .card-text {
                        color: #333333;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 19px;
                        height: 42px;
                        margin-bottom: 6px;

                        @include media-breakpoint-down(md) {
                          color: #333333;
                          font-size: 10px;
                          line-height: 13.5px;
                          height: 42px;
                          margin-bottom: 4px;
                        }
                      }
                    }

                    & .presence {
                      color: #068603;
                      font-size: 12px;
                      font-weight: 400;
                      line-height: 16px;
                      margin-bottom: 6px;

                      @include media-breakpoint-down(md) {
                        font-size: 8px;
                        line-height: 11px;
                        margin-bottom: 7px;
                      }
                    }

                    & .price {
                      color: #333333;
                      font-size: 20px;
                      font-weight: 400;
                      line-height: 27px;
                      margin-bottom: 10px;

                      @include media-breakpoint-down(md) {
                        font-size: 18px;
                        line-height: 25px;
                        margin-bottom: 6px;
                      }
                    }

                    & .buy_btn {
                      display: flex;
                      justify-content: center;
                      flex: 1 1 100%;
                      font-size: 14px;
                      font-weight: 600;
                      color: #ffffff;
                      padding: 6.5px 5px;

                      @include media-breakpoint-down(md) {
                        font-size: 12px;
                        line-height: 16px;
                        padding: 3px;
                      }

                      & img {
                        @include media-breakpoint-down(md) {
                          display: none;
                        }
                      }

                      & div {
                        margin-left: 9px;
                      }
                    }

                    // & .buy_btn_one {
                    //   font-size: 13px;
                    //   font-weight: 400;
                    //   padding: 4.25px 5px 4.25px 5px;

                    //   &:hover {
                    //     color: #ffffff;
                    //   }
                    // }
                  }
                }
              }
            }
          }

          & .body_page_nav {
            margin: 30px auto 0;
            width: max-content;

            @include media-breakpoint-down(md) {
              margin: 14px auto 0;
            }

            & .pagination_last_pages {
              display: none;
            }
            & .pagination_first_pages {
              display: none;
            }
            & .pagination_rest_pages {
              display: block;
            }

            & .pagination {
              & .page-item {
                & .page_link_manage.page-link {
                  height: 30px;
                  width: 30px;
                  padding: 0;
                  margin: 0;
                  border: 1px solid #ffffff;
                  display: flex;
                  justify-content: center;

                  & svg {
                    align-self: center;
                  }

                  &:focus {
                    box-shadow: none;
                  }
                }

                & .page_link_basic.page-link {
                  color: #555555;
                  font-weight: 400;
                  text-align: center;
                  height: 30px;
                  width: 30px;
                  padding: 3.5px 6px;
                  margin: 0;
                  border: 1px solid #ffffff;

                  &:focus {
                    box-shadow: none;
                  }
                }

                & .page_link_active.page_link_basic.page-link {
                  border: 1px solid #555555;
                  border-radius: 2px;
                }
              }
            }
          }
        }
      }

      & .catalogue_page_slider {
        & .underscore {
          display: none;

          @include media-breakpoint-down(md) {
            display: block;
          }
        }
        & .catalogue_slider_head {
          color: #333333;
          font-size: 22px;
          font-weight: 400;
          line-height: 30px;
          margin: 30px 0;

          @include media-breakpoint-down(md) {
            display: none;
          }
        }

        & .catalogue_slider_head2 {
          display: none;
          height: 30px;
          margin: 10px auto 14px 0;
          width: max-content;
          position: relative;

          @include media-breakpoint-down(md) {
            display: block;
          }

          & .slider_head2_text {
            position: relative;
            left: 0;
            z-index: 10;
            color: #333333;
            font-size: 22px;
            font-weight: 400;
            line-height: 30px;
          }

          & .slider_head2_decor {
            position: absolute;
            bottom: 2px;
            left: 0;
            right: -5px;
            z-index: 5;
            height: 8px;
            background-color: #ffcf5e;
          }
        }

        & .slider.items_mini {
          position: relative;
          padding: 0 40px;
          margin-bottom: 60px;

          @include media-breakpoint-down(md) {
            padding: 0;
            margin-bottom: 30px;
          }

          & .slick-arrow.slick-prev {
            position: absolute;
            left: 0;
            font-size: 0;
            background: url(/assets/images/pointer1.svg) center center no-repeat;
            height: 80px;
            width: 30px;
            border: 1px solid #4444444d;
            top: 50%;
            margin-top: -40px;
          }

          & .slick-arrow.slick-next {
            position: absolute;
            right: 0;
            font-size: 0;
            background: url(/assets/images/pointer2.svg) center center no-repeat;
            height: 80px;
            width: 30px;
            border: 1px solid #4444444d;
            top: 50%;
            margin-top: -40px;
          }

          & .slick-dots {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            margin-bottom: 20px;
            padding: 0;

            & li {
              list-style: none;

              & button {
                font-size: 0;
                width: 16px;
                height: 16px;
                background-color: #c4c4c4;
                border: none;
                border-radius: 50%;
                margin: 0 6px;
              }
            }

            & .slick-active {
              list-style: none;

              & button {
                font-size: 0;
                width: 16px;
                height: 16px;
                background-color: $primary;
                border: none;
                border-radius: 50%;
                margin: 0 6px;
              }
            }
          }

          & .slick-list {
            overflow: hidden;

            & .slick-track {
              display: flex;

              & .obertka_mini {
                padding: 0 5px;

                & .card_mini {
                  max-width: 200px;
                  width: 100%;
                  height: 320px;
                  border: 1px solid #4444444d;
                  margin: 0 auto;

                  @include media-breakpoint-down(md) {
                    max-width: 155px;
                    width: 100%;
                    height: 230px;
                  }

                  & .cartina_mini {
                    height: 150px;
                    width: 170px;
                    margin: 15px auto 0;

                    @include media-breakpoint-down(md) {
                      height: 115px;
                      width: 135px;
                      margin: 10px auto 0;
                    }
                  }

                  & .card-body_mini {
                    height: 155px;
                    margin: 0 15px;

                    @include media-breakpoint-down(md) {
                      height: 105px;
                      margin: 0 10px;
                    }

                    & .card-title_mini {
                      color: #333333;
                      font-size: 11px;
                      font-weight: 300;
                      line-height: 15px;
                      margin: 6px 0;

                      @include media-breakpoint-down(md) {
                        display: none;
                      }
                    }

                    & .card-text_a_mini {
                      text-decoration: none;

                      & .card-text_mini {
                        color: #333333;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 19px;
                        height: 60px;
                        margin-bottom: 6px;

                        @include media-breakpoint-down(md) {
                          font-size: 10px;
                          line-height: 14px;
                          height: 42px;
                          margin: 6px 0 4px;
                        }
                      }
                    }

                    & .presence_mini {
                      color: #068603;
                      font-size: 12px;
                      font-weight: 400;
                      line-height: 16px;
                      margin-bottom: 6px;

                      @include media-breakpoint-down(md) {
                        font-size: 8px;
                        line-height: 11px;
                        margin-bottom: 7px;
                      }
                    }

                    & .price_mini {
                      color: #333333;
                      font-size: 20px;
                      font-weight: 400;
                      line-height: 27px;

                      @include media-breakpoint-down(md) {
                        font-size: 18px;
                        line-height: 25px;
                      }
                    }

                    & .buy_btn_mini {
                      cursor: pointer;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
