

body {

    & .wrapper {

        & main {
            // background-color: #E5E5E5;
            background-color: #fff;



            & .filter_block_general {
                margin-top: 20px;

                & .filter_block {
                    margin-top: 6px;
        
                    & .filter_block_name{
                        color: #333333;
                        font-size: 14px;
                        font-weight: 600;
                        margin: 0  0 10px 0;
                    }
        
                    & .filter_element_pack {
                        margin-bottom: 10px;
        
                        & .form-check {
                            margin-bottom: 6px;
        
                            & .filter_element_name1 {
                                color: #333333;
                                font-size: 14px;
                                font-weight: 400;
                
                            }
                
                            & .filter_element_name2 {
                                color: #333333;
                                font-size: 14px;
                                font-weight: 400;
                                
                            }
                        }     
                    }       
                }
            }
        
        


            & .block1 {
                height: 762px;

                
                & .block1_img1 {
                    height: 462px;
                    margin: 22px 0 58px 0;

                    & .img_traxtor {
                        max-height: 100%;
                        max-width: 100%;

                    }

                }

                & .block1_row2 {

                    & a {
                        text-decoration: none;

                        & .block1_ural {
                            
                            height: 180px;
                            width: 377px;
                            border: 1px solid #4444444D;
                            margin-right: 30px;

                            & .block1_img3 {
                                height: 160px;
                                width: 240px;
                                margin: 10px 0 10px 10px;

                                & .img_detali {
                                    max-height: 100%;
                                    max-width: 100%;
                                }

                            }

                            & .block1_ural_text {                        
                            
                                margin-top: 10px;
                                text-align: right;
                                color: #000;
                                font-size: 18px;
                                font-weight: 400;
                            }

                        }

                    }

                        

                    & .block1_img2 {
                        height: 180px;
                        width: 488px;
                        border: 1px solid #4444444D;

                        & .img_ludi {
                            max-height: 100%;
                            max-width: 100%;
                        }
                    }
                }                        
            }
        

            & .block2 {
                height: 496px;
                min-width: 0;

                & .block2_head {
                    text-align: center;
                    color: #333333;
                    font-size: 22px;
                    font-weight: 400;
                    margin-top: 30px;
                    margin-bottom: 20px;
                }

                & .slider {
                    position: relative;
                    padding: 0 40px;

                    &  .slick-arrow.slick-prev {
                        position: absolute;
                        left: 0;
                        font-size: 0;
                        background: url(/assets/images/pointer1.svg) center center no-repeat;
                        height: 80px;
                        width: 30px;
                        border: 1px solid #4444444D;
                        top: 50%;
                        margin-top: -40px;
                    }

                    &  .slick-arrow.slick-next {
                        position: absolute;
                        right: 0;
                        font-size: 0;
                        background: url(/assets/images/pointer2.svg) center center no-repeat;
                        height: 80px;
                        width: 30px;
                        border: 1px solid #4444444D;
                        top: 50%;
                        margin-top: -40px;
                    }

                    & .slick-list {
                        overflow: hidden;

                        & .slick-track {
                            display: flex;
    
                            & .obertka {
                        
                                & .carta {
                                    width: 240px;
                                    height: 376px;
                                    border: 1px solid #4444444D;
                                    margin: 0 auto;
                        
                                    & .cartina {
                                        height: 180px;
                                    }
                        
                                    & .card-title {
                                        color: #333333;
                                        font-size: 11px;
                                        font-weight: 300;
                                    }
                        
                                    & .card-text_a {
                                        text-decoration: none;

                                        & .card-text {
                                            color: #333333;
                                            font-size: 14px;
                                            font-weight: 400;
                                            height: 40px;
                                            margin-bottom: 5px;
                                        }
                                    }
                                    
                        
                                    & .presence {
                                        color: #068603;
                                        font-size: 12px;
                                        font-weight: 400;
                                        margin-bottom: 3px;
                                    }
                        
                                    & .price {
                                        color: #333333;
                                        font-size: 20px;
                                        font-weight: 400;
                                        margin-bottom: 13px;
                                    }
                        
                                    & .buy_btn {
                                        font-size: 14px;
                                        color:#FFFFFF;
                                        padding: 3.25px 5px 3.25px 5px;
                                    }
                        
                                    & .buy_btn_one {
                                        font-size: 14px;
                                        padding: 4.25px 5px 4.25px 5px;
                        
                                        &:hover {
                                            color:#FFFFFF;
                                        }
                                    }
        
                                }

                            }                       
                        }
                    }
                }
            }
        

            & .block3 {
                height: 496px;
                min-width: 0;

                & .block3_head {
                    text-align: center;
                    color: #333333;
                    font-size: 22px;
                    font-weight: 400;
                    margin-top: 30px;
                    margin-bottom: 20px;
                }

                & .slider {
                    position: relative;
                    padding: 0 40px;

                    &  .slick-arrow.slick-prev {
                        position: absolute;
                        left: 0;
                        font-size: 0;
                        background: url(/assets/images/pointer1.svg) center center no-repeat;
                        height: 80px;
                        width: 30px;
                        border: 1px solid #4444444D;
                        top: 50%;
                        margin-top: -40px;
                    }

                    &  .slick-arrow.slick-next {
                        position: absolute;
                        right: 0;
                        font-size: 0;
                        background: url(/assets/images/pointer2.svg) center center no-repeat;
                        height: 80px;
                        width: 30px;
                        border: 1px solid #4444444D;
                        top: 50%;
                        margin-top: -40px;
                    }

                    & .slick-list {
                        overflow: hidden;

                        & .slick-track {
                            display: flex;
    
                            & .obertka {
                        
                                & .carta {
                                    width: 240px;
                                    height: 376px;
                                    border: 1px solid #4444444D;
                                    margin: 0 auto;
                        
                                    & .cartina {
                                        height: 180px;
                                    }
                        
                                    & .card-title {
                                        color: #333333;
                                        font-size: 11px;
                                        font-weight: 300;
                                    }
                        
                                    & .card-text_a {
                                        text-decoration: none;

                                        & .card-text {
                                            color: #333333;
                                            font-size: 14px;
                                            font-weight: 400;
                                            height: 40px;
                                            margin-bottom: 5px;
                                        }
                                    }
                                    
                        
                                    & .presence {
                                        color: #068603;
                                        font-size: 12px;
                                        font-weight: 400;
                                        margin-bottom: 3px;
                                    }
                        
                                    & .price {
                                        color: #333333;
                                        font-size: 20px;
                                        font-weight: 400;
                                        margin-bottom: 13px;
                                    }
                        
                                    & .buy_btn {
                                        font-size: 14px;
                                        color:#FFFFFF;
                                        padding: 3.25px 5px 3.25px 5px;
                                    }
                        
                                    & .btn-outline-primary {
                                        font-size: 14px;
                                        padding: 4.25px 5px 4.25px 5px;
                        
                                        &:hover {
                                            color:#FFFFFF;
                                        }
                                    }
        
                                }

                            }
                        
                        }
                    }
                }
            }


            & .block4 {
                display: block;


                & .block4_head {
                    color: #333333;
                    font-size: 22px;
                    font-weight: 400;
                    text-align: center;
                    margin: 30px 0 20px 0;
                }

                & .block4_text_about {
                    color: #333333;
                    font-size: 16px;
                    font-weight: 400;

                    & .block4_text_about1 {
                        position: relative;

                                        
                        & .block_invisible {
                            height: 24px;
                            width: 100%;
                            background: linear-gradient(to top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
                            z-index: 10;
                            position: absolute;
                            bottom: 0;
                        }
                    }           
                }

                & .block4_btn {
                    display: block;
                    cursor: pointer;
                    text-decoration: underline;
                    user-select: none; 
                    color: #333333;
                    font-size: 13px;
                    font-weight: 400;
                    margin-bottom: 50px;
                }


            }


            & .block5 {
                height: 453px;

                & .block5_head {
                    color: #333333;
                    font-size: 22px;
                    font-weight: 400;
                    margin-bottom: 50px;
                }

                & .row_1 {
                    margin-bottom: 50px;

                    & .col-auto {
                        
                        & .d-flex {
                            height: 131px;
                            width: 260px;

                            & .img_block {
                                height: 64px;
                                width: 95px;
                                margin-bottom: 17px;
                            }

                            & .text_block {
                                color: #333333;
                                font-size: 18px;
                                font-weight: 400;
                                height: 50px;
                                width: 260px;
                            }
                        }
                    }
                }

                & .row_2 {
                    margin-bottom: 60px;

                    & .col-auto {

                        & .d-flex {
                            height: 131px;
                            width: 260px;

                            & .img_block {
                                height: 64px;
                                width: 95px;
                                margin-bottom: 17px;
                            }

                            & .text_block {
                                color: #333333;
                                font-size: 18px;
                                font-weight: 400;
                                height: 50px;
                                width: 260px;
                            }
                        }
                    }
                }
            }


            & .block6 {
                height: 439px;
                min-width: 0;


                & .underscore {
                    margin-bottom: 40px;
                }

            

                & .block6_head {
                    text-align: center;
                    color: #333333;
                    font-size: 22px;
                    font-weight: 400;
                    margin-bottom: 50px;
                }

                & .slider {
                position: relative;
                padding: 0 30px;
                margin-bottom: 40px;

                

                    &  .slick-arrow.slick-prev {
                        position: absolute;
                        left: 0;
                        font-size: 0;
                        background: url(/assets/images/pointer1.svg) center center no-repeat;
                        height: 80px;
                        width: 30px;
                        border: 1px solid #4444444D;
                        top: 50%;
                        margin-top: -40px;
                    }

                    &  .slick-arrow.slick-next {
                        position: absolute;
                        right: 0;
                        font-size: 0;
                        background: url(/assets/images/pointer2.svg) center center no-repeat;
                        height: 80px;
                        width: 30px;
                        border: 1px solid #4444444D;
                        top: 50%;
                        margin-top: -40px;
                    }

                    & .slick-list {
                        overflow: hidden;

                        & .slick-track {
                            display: flex;

                            & .obertka2 {

                                & .block6_review {
                                    padding: 12px;
                                    border: 1px solid #4444444D;
                                    width: 350px;
                                    height: 162px;
                                    margin: 0 auto;
                        
                                    & .block6_review_head {
                                        margin-bottom: 18px;
                        
                                        & .block6_date {
                                            color: #333333;
                                            font-size: 10px;
                                            font-weight: 300;
                                        }
                        
                                        & img {
                                            margin-right: 6px;
                                        }
                                    }
                        
                                    & .block6_name {
                                        color: #333333;
                                        font-size: 14px;
                                        font-weight: 600;
                                        margin-bottom: 6px;
                                    }
                        
                                    & .block6_text {
                                        color: #333333;
                                        font-size: 12px;
                                        font-weight: 400;
                                    }                    
                                }                      

                            }
                        }
                    }
                }


                & .block6_btn {

                    & .btn_review {
                        font-size: 14px;
                        font-weight: 600;
                        color:#FFFFFF;
                        padding: 9px 86px 9px 86px;
                        margin-bottom: 80px;
                    }
                }
                
            }
            



        

            
        
            & .block7 {
                height: 430px;

                & .block7_head {
                    color: #333333;
                    font-size: 22px;
                    font-weight: 400;
                    margin-bottom: 30px;
                }

                

                & .block7_name {
                    color: #333333;
                    font-size: 16px;
                    font-weight: 600;
                    margin-bottom: 30px;
                    width: 95px;
                }

                & .block7_text {
                    color: #333333;
                    font-size: 16px;
                    font-weight: 400;
                    margin-bottom: 30px;
                }
            

                & .map_block {
                    width: 793px;
                    height: 340px;
                }
            }
        
        
        }

    }
}
































