$primary: #FFB541;
$secondary: #333333E5;

$border-radius: 2px;
$border-color: #4444444D;

$font-size-root: 14px;
$card-height: 100%;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1180px,
  xxl: 1320px
) !default;

// $modal-fade-transform: translate(100px);